@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        overflow-x: hidden !important;
    }
      
}

@layer components {
    .container {
        @apply max-w-screen-xl mx-auto px-4 max-xl:px-3
    }
    
    .subtitle {
        @apply font-azonix text-4xl md:text-5xl w-fit
    }
    .about-box {
        @apply bg-zinc-950/90 border-2 border-white/5 overflow-hidden h-80 min-w-[300px] rounded-lg hover:border-white/10 transition-all max-sm:w-full
    }

}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}